<footer class="container">
  <hr class="featurette-divider" style="margin-bottom: 30px;" />
  <p class="float-end"><a href="#">Back to top</a></p>
  <p>© 2024 UMIKOM UNIVERSITY. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
  <hr style="margin-bottom: 30px;" />

</footer>
</main>

