<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <%- include('nav') %>

    <div class="d-flex flex-column w-100 h-100 container" style="margin-top: 100px">
      <div><%- body %></div>
    </div>

    <script src="/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/index.js"></script>

    <%- include('footer') %>
  </body>
</html>
