<div class="container">
  <form action="/tambah-mahasiswa" method="post" enctype="multipart/form-data">
    <!-- data diri mahasiswa -->

    <div class="alert" style="background-color:rgb(205, 179, 101);">
     <center class="h3"> <strong>PENDAFTARAN MAHASISWA BARU <br> UMIKOM UNIVERSITY <br> TAHUN AJARAN 2024/2025  </strong></center>
    </div>

    <div class="alert alert-dark">
      <strong>Data Diri</strong>
    </div>

    <div class="row" style="margin-top: 10px">
      <div class="col-sm-7">
        <div class="form-group">
          <label>Nama Lengkap:</label>
          <input type="text" name="nama" class="form-control" placeholder="Masukan Nama Lengkap" id="nama" />
        </div>
      </div>

      <div class="col-sm-5">
        <div class="form-group">
          <label>NIK :</label>
          <input type="text" name="tempatlahir" class="form-control" placeholder="Masukan Tempat Lahir" id="tempatlahir" />
        </div>
      </div>

      <div class="col-sm-4" style="margin-top: 20px">
        <div class="form-group">
          <label>Tempat Lahir :</label>
          <input type="text" name="tempatlahir" class="form-control" placeholder="Masukan Tempat Lahir" id="tempatlahir" />
        </div>
      </div>

      <div class="col-sm-4" style="margin-top: 20px">
        <div class="form-group">
          <label>Tanngal Lahir :</label>
          <input type="date" name="tanggallahir" class="form-control" placeholder="Masukan Nama Lengkap" id="tanggallahir" />
        </div>
      </div>

      <div class="col-sm-4" style="margin-top: 20px">
        <div class="form-group">
          <label>Jenis Kelamin :</label>
          <select class="form-control" name="jeniskelamin" id="jeniskelamin">
            <option value="Laki-Laki">Laki-Laki</option>
            <option value="Perempuan">Perempuan</option>
          </select>
        </div>
      </div>

      <div class="col-sm-6" style="margin-top: 20px">
        <div class="form-group">
          <label>Alamat Lengkap :</label>
          <textarea class="form-control" name="alamat" rows="2" id="alamat"></textarea>
        </div>
      </div>

      <div class="col-sm-3" style="margin-top: 20px">
        <div class="form-group">
          <label>Provinsi :</label>
          <select class="form-control" name="provinsi" id="provinsi">
            <option value="D.I.Yogyakarta">D.I.Yogyakarta</option>
            <option value="Jawa Barat">Jawa Barat</option>
            <option value="Jawa Tengah">Jawa Tengah</option>
            <option value="D.K.I Jakarta">D.K.I Jakarta</option>
            <option value="Banten">Banten</option>
            <option value="Jawa Timur">jawa Timur</option>
          </select>
        </div>
      </div>

      <div class="col-sm-3" style="margin-top: 20px">
        <div class="form-group">
          <label>Kabupaten/Kota:</label>
          <select class="form-control" name="kabupatenkota" id="kabupatenkota">
            <option value="Yogyakarta">Yogyakarta</option>
            <option value="Sleman">Sleman</option>
            <option value="Bantul">Bantul</option>
            <option value="Kulon Progo">Kulon Progo</option>
            <option value="Gunung Kidul">Gunung Kidul</option>
          </select>
        </div>
      </div>

      <div class="col-sm-4" style="margin-top: 20px">
        <div class="form-group">
          <label>Alamat Domisili:</label>
          <input type="text" name="alamatdomisili" class="form-control" placeholder="Kabupaten/Kota Domisili" id="alamatdomisili" />
        </div>
      </div>

      <div class="col-sm-4" style="margin-top: 20px">
        <div class="form-group">
          <label>Kontak Hp :</label>
          <input type="number" name="kontakhp" class="form-control" placeholder="08123xxxxxxx" id="kontakhp" />
        </div>
      </div>

      <div class="col-sm-4" style="margin-top: 20px">
        <div class="form-group">
          <label>Email :</label>
          <input type="email" name="email" class="form-control" placeholder="umikom@students.umikom.ac.id" id="email" />
        </div>
      </div>
    </div>

    <div class="alert alert-dark" style="margin-top: 25px">
      <strong>Data Orang Tua </strong>
    </div>

    <div class="row" style="margin-top: 10px">
      <div class="col-sm-7">
        <div class="form-group">
          <label>Nama Lengkap:</label>
          <input type="text" name="nama" class="form-control" placeholder="Masukan Nama Lengkap" id="nama" />
        </div>
      </div>

      <div class="col-sm-5">
        <div class="form-group">
          <label>NIK :</label>
          <input type="text" name="tempatlahir" class="form-control" placeholder="Masukan Tempat Lahir" id="tempatlahir" />
        </div>
      </div>

      <div class="col-sm-4" style="margin-top: 20px">
        <div class="form-group">
          <label>Tempat Lahir :</label>
          <input type="text" name="tempatlahir" class="form-control" placeholder="Masukan Tempat Lahir" id="tempatlahir" />
        </div>
      </div>

      <div class="col-sm-4" style="margin-top: 20px">
        <div class="form-group">
          <label>Tanngal Lahir :</label>
          <input type="date" name="tanggallahir" class="form-control" placeholder="Masukan Nama Lengkap" id="tanggallahir" />
        </div>
      </div>

      <div class="col-sm-4" style="margin-top: 20px">
        <div class="form-group">
          <label>Jenis Kelamin :</label>
          <select class="form-control" name="jeniskelamin" id="jeniskelamin">
            <option value="Laki-Laki">Laki-Laki</option>
            <option value="Perempuan">Perempuan</option>
          </select>
        </div>
      </div>

      <div class="col-sm-6" style="margin-top: 20px">
        <div class="form-group">
          <label>Alamat Lengkap :</label>
          <textarea class="form-control" name="alamat" rows="2" id="alamat"></textarea>
        </div>
      </div>

      <div class="col-sm-3" style="margin-top: 20px">
        <div class="form-group">
          <label>Provinsi :</label>
          <select class="form-control" name="provinsi" id="provinsi">
            <option value="D.I.Yogyakarta">D.I.Yogyakarta</option>
            <option value="Jawa Barat">Jawa Barat</option>
            <option value="Jawa Tengah">Jawa Tengah</option>
            <option value="D.K.I Jakarta">D.K.I Jakarta</option>
            <option value="Banten">Banten</option>
            <option value="Jawa Timur">jawa Timur</option>
          </select>
        </div>
      </div>

      <div class="col-sm-3" style="margin-top: 20px">
        <div class="form-group">
          <label>Kabupaten/Kota:</label>
          <select class="form-control" name="kabupatenkota" id="kabupatenkota">
            <option value="Yogyakarta">Yogyakarta</option>
            <option value="Sleman">Sleman</option>
            <option value="Bantul">Bantul</option>
            <option value="Kulon Progo">Kulon Progo</option>
            <option value="Gunung Kidul">Gunung Kidul</option>
          </select>
        </div>
      </div>

      <div class="col-sm-4" style="margin-top: 20px">
        <div class="form-group">
          <label>Alamat Domisili:</label>
          <input type="text" name="alamatdomisili" class="form-control" placeholder="Kabupaten/Kota Domisili" id="alamatdomisili" />
        </div>
      </div>

      <div class="col-sm-4" style="margin-top: 20px">
        <div class="form-group">
          <label>Kontak Hp :</label>
          <input type="number" name="kontakhp" class="form-control" placeholder="08123xxxxxxx" id="kontakhp" />
        </div>
      </div>

      <div class="col-sm-4" style="margin-top: 20px">
        <div class="form-group">
          <label>Email :</label>
          <input type="email" name="email" class="form-control" placeholder="umikom@students.umikom.ac.id" id="email" />
        </div>
      </div>
    </div>

    <div class="alert alert-dark" style="margin-top: 25px">
      <strong>Data Sekolah Asal </strong>
    </div>

    <div class="row" style="margin-top: 10px">
      <div class="col-sm-7">
        <div class="form-group">
          <label>Nama Lengkap:</label>
          <input type="text" name="nama" class="form-control" placeholder="Masukan Nama Lengkap" id="nama" />
        </div>
      </div>

      <div class="col-sm-5">
        <div class="form-group">
          <label>NIK :</label>
          <input type="text" name="tempatlahir" class="form-control" placeholder="Masukan Tempat Lahir" id="tempatlahir" />
        </div>
      </div>

      <div class="col-sm-4" style="margin-top: 20px">
        <div class="form-group">
          <label>Tempat Lahir :</label>
          <input type="text" name="tempatlahir" class="form-control" placeholder="Masukan Tempat Lahir" id="tempatlahir" />
        </div>
      </div>

      <div class="col-sm-4" style="margin-top: 20px">
        <div class="form-group">
          <label>Tanngal Lahir :</label>
          <input type="date" name="tanggallahir" class="form-control" placeholder="Masukan Nama Lengkap" id="tanggallahir" />
        </div>
      </div>

      <div class="col-sm-4" style="margin-top: 20px">
        <div class="form-group">
          <label>Jenis Kelamin :</label>
          <select class="form-control" name="jeniskelamin" id="jeniskelamin">
            <option value="Laki-Laki">Laki-Laki</option>
            <option value="Perempuan">Perempuan</option>
          </select>
        </div>
      </div>

      <div class="col-sm-6" style="margin-top: 20px">
        <div class="form-group">
          <label>Alamat Lengkap :</label>
          <textarea class="form-control" name="alamat" rows="2" id="alamat"></textarea>
        </div>
      </div>

      <div class="col-sm-3" style="margin-top: 20px">
        <div class="form-group">
          <label>Provinsi :</label>
          <select class="form-control" name="provinsi" id="provinsi">
            <option value="D.I.Yogyakarta">D.I.Yogyakarta</option>
            <option value="Jawa Barat">Jawa Barat</option>
            <option value="Jawa Tengah">Jawa Tengah</option>
            <option value="D.K.I Jakarta">D.K.I Jakarta</option>
            <option value="Banten">Banten</option>
            <option value="Jawa Timur">jawa Timur</option>
          </select>
        </div>
      </div>

      <div class="col-sm-3" style="margin-top: 20px">
        <div class="form-group">
          <label>Kabupaten/Kota:</label>
          <select class="form-control" name="kabupatenkota" id="kabupatenkota">
            <option value="Yogyakarta">Yogyakarta</option>
            <option value="Sleman">Sleman</option>
            <option value="Bantul">Bantul</option>
            <option value="Kulon Progo">Kulon Progo</option>
            <option value="Gunung Kidul">Gunung Kidul</option>
          </select>
        </div>
      </div>

      <div class="col-sm-4" style="margin-top: 20px">
        <div class="form-group">
          <label>Alamat Domisili:</label>
          <input type="text" name="alamatdomisili" class="form-control" placeholder="Kabupaten/Kota Domisili" id="alamatdomisili" />
        </div>
      </div>

      <div class="col-sm-4" style="margin-top: 20px">
        <div class="form-group">
          <label>Kontak Hp :</label>
          <input type="number" name="kontakhp" class="form-control" placeholder="08123xxxxxxx" id="kontakhp" />
        </div>
      </div>

      <div class="col-sm-4" style="margin-top: 20px">
        <div class="form-group">
          <label>Email :</label>
          <input type="email" name="email" class="form-control" placeholder="umikom@students.umikom.ac.id" id="email" />
        </div>
      </div>
    </div>

    <button type="submit">Submit</button>
  </form>
</div>

table.increments("id").primary(); table.string("nama"); table.string("tempatlahir"); table.date("tanggallahir"); table.string("jeniskelamin"); table.string("alamat"); table.string("alamatdomisili"); table.integer("kontakhp");
table.string("email"); table.string("namaayah"); table.string("namaibu"); table.string("namawali"); table.integer("kontakhporangtua"); table.string("asalsekolah"); table.integer("tahunlulus"); table.string("jurusan");
table.string("fakultas"); table.string("kelas"); table.integer("nim"); table.string("pekerjaanorangtua"); table.string('photo')
