<h1>Form Page</h1>
<form method="post" action="/data-mahasiswa" enctype="multipart/form-data">
  <div>
    <label for="nim">NIM : :</label>
    <input type="number" name="nim" id="nim" />
  </div>
  <div>
    <label for="nama">Nama :</label>
    <input type="text" name="nama" id="nama" />
  </div>
  <div>
    <label for="nama">Jurusan :</label>
    <input type="text" name="kelas" id="kelas" />
  </div>
  <div>
    <label for="photo">Photo:</label>
  <input type="file" id="photo" name="photo" accept="image/*">
  </div>
  <button type="submit" class="btn btn-primary">submit</button>
</form>
