<div class="container mt-3">
  <div class="row">
    <div class="col-md-8">
      <h2>Edit Mahasiswa</h2>
      <form action="/data-mahasiswa/edit/<%= mahasiswa.nama %>" method="POST" enctype="multipart/form-data">
        <!-- Your form fields for editing student information -->
        <label for="nama">NIM:</label>
        <input type="number" id="nim" name="nim" value="<%= mahasiswa.nim %>" required />
        <label for="nama">Nama:</label>
        <input type="text" id="nama" name="nama" value="<%= mahasiswa.nama %>" required />
        <label for="nama">Kelas:</label>
        <input type="text" id="kelas" name="kelas" value="<%= mahasiswa.kelas %>" required />
        <label for="photo">Photo:</label>
  <input type="file" id="photo" name="photo" accept="image/*">
        <!-- Add other fields as needed -->

        <button type="submit" class="btn btn-primary">Save Changes</button>
      </form>
      <a href="/data-mahasiswa" class="btn btn-secondary mt-2">Cancel</a>
    </div>
  </div>
</div>
